div.menu_bar{
  background: #5f5f5f;
}

div.menu_box{
  text-align: center;
}
div.picture_box{
  background: #7f7f7f;
}
div.menu_box:hover{
  border-style:solid;
  background: #7f7f7f;
  border-color: white;
   border-width:0px 2px 0px 2px;
}
a.menu_text{
  color: #f4f4f4;
  text-decoration: none;
}
