[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
   background-color: rgba(255,255,255,0.3);
   background: rgba(255,255,255,0.3);

}
[type='text'], [type='password']:hover{
  background-color: rgba(255,255,255,0.4);
}
[type='text'], [type='password']:after{
  background-color: rgba(255,255,255,0.4);
}
[type='text'], [type='password']:active{
  background-color: rgba(255,255,255,0.4);
}
.inputTable{
   background-color:transparent;
}
a{
  text-decoration: none;
}
