<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <title>わりこ</title>
</head>


<body>
  <div class="grid-x grid-padding-x">
    <div class="grid-x grid-padding-x" id="menu-bar">
    <div id="sign-in-box"  class="large-4 small-6 columns">
      <a href="" id="sign-in-link">sign in</a>
    </div>
    <div id="sign-up-box"  class="large-4 small-6 columns">
      <a href="" id="sign-up-link">sign up</a>
    </div>
  </div>
</div>
</body>
</html>
