<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/app.js"></script>
</head>
<header id="header-box">
  <div id="hd-main">
    <div id="icon" class="columns medium-8">
    </div>
    <div id="menu-box" class="columns medium-4">
      <div id="sign-in-box"  class="columns medium-6">
        <a href="" id="sign-in-link">sign in</a>
      </div>
      <div id="sign-up-box"  class="columns medium-6">
        <a href="" id="sign-up-link">sign up</a>
      </div>
    </div>
  </div>
<body>
  <center>
    <div class="loginbox">
      <a href="/login" class="linktext">ログイン<a>
    </div>

  </center>

</body>
