<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/makeform.css">
  <title>わりこ</title>
</head>


<body>
  <div class="grid-x grid-padding-x menu_bar">
    <div   class="large-10 medium-8 small-8 columns " >
      <p class="text">わりこ</p>

    </div>
    <div id="sign-in-box"  class="large-1 medium-2 small-2 columns menu_box">
      <a href="signin" class="menu_text">sign in</a>

    </div>
    <div id="sign-up-box"  class="large-1 medium-2 small-2 columns  menu_box">
      <a href="signup" class="menu_text">sign up</a>
    </div>
  </div>

  <div class="large-12 medium-12 small-12 columns picture_box" >
      <center>
        <form action="/makeaccount" method="POST">

              ユーザID<input type="text" pattern="^[0-9a-z]+$" name="user_id" style="width:300px;" >

            <br>
            パスワード:
            <input type="password" name="password" id="password" pattern="^[0-9a-z]+$"  style="width:300px;">
            <br>
            <input type="submit" id="fab" value="作成"/>
        </form>
        </center>
        <br>
        <a href="/home"class="backtext">ホームページへ戻る</a>

  </div>


</body>
