<head>
  <link rel="stylesheet" href="style/css/foundation.css">
  <link rel="stylesheet" href="style/css/app.css">
  <link rel="stylesheet" href="css/foundation.css">
  <script src="js/app.js"></script>
  <title>わりこ</title>
</head>


<body>
  <div class="grid-x grid-padding-x menu_bar">


    <div   class="large-10 medium-8 small-8 columns " >
      <p class="text">わりこ</p>

    </div>
    <div id="sign-in-box"  class="large-1 medium-2 small-2 columns menu_box">
      <a href="signin" class="menu_text">sign in</a>

    </div>
    <div id="sign-up-box"  class="large-1 medium-2 small-2 columns  menu_box">
      <a href="signup" class="menu_text">sign up</a>
    </div>
  </div>

  <br>
  <a href="/"class="backtext">ホームページへ戻る</a>
</div>
</body>
