<head>
  <link rel="stylesheet" href="style/css/foundation.css">
  <link rel="stylesheet" href="style/css/app.css">
  <script src="js/app.js"></script>
  <title>わりこ</title>
</head>


<body>
  <div class="grid-x grid-padding-x">
  <header>
    <div class="grid-x grid-padding-x menu_bar">


      <div   class="large-10 medium-8 small-8 columns " >
        <p class="text">わりこ</p>

      </div>
      <div id="sign-in-box"  class="large-1 medium-2 small-2 columns menu_box">
        <a href="signin" class="menu_text">sign in</a>

      </div>
      <div id="sign-up-box"  class="large-1 medium-2 small-2 columns  menu_box">
        <a href="signup" class="menu_text">sign up</a>
      </div>
    </div>
  </header>

  <div class="small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 columns">
    <form action="/makeaccount" method="POST">
    <p>アカウント作成</p>
    ユーザID:<input type="text" pattern="^[0-9a-z]+$" name="user_id" >
    ニックネーム:
    <input type="text" name="user_name" >
    <br>
    パスワード:
    <input type="password" id="password" pattern="^[0-9a-z]+$" name="pass" >
    <br>
    パスワード 確認:
    <input type="password" class="form-control" name="confirm" oninput="CheckPassword(this)" required>
    <br>
    <p>性別</p>
    <input type="radio" value="0" name="sex">男性
    <input type="radio" value="1" name="sex">女性
    <br>
    <input type="submit" id="fab" value="作成"/>
    </form>
    </div>
  <br>
  <a href="/"class="backtext">ホームページへ戻る</a>
</div>
</body>
