<head>
  <link rel="stylesheet" href="style/url-view.css">
</head>

<body>
  <a href="/user" >ユーザーページへ</a>
  <div class="split">
    <div class="split-item split-left">
        <div class="split-left__inner">
          <form method="post" action="/urlmemo" >
            <p>追加するURL</p>
            <table id= "input_table">
            <tr>
            <td>URL</td>
            <td>：</td>
            <td><input type="url"  name="add_url" size="50" maxlength="500"></td>
            </tr>
            <tr>
            <td>種類</td>
            <td>：</td>
            <td><input type="text" name="type" ></td>
            </tr>
            <tr>
            <td>タイトル</td>
            <td>：</td>
            <td><input type="text" name="url_title" ></td>
            </tr>
            <tr>
            <td>本文</td>
            <td>：</td>
            <td><input type="text" name="url_text" cols="30" rows="5" ></td>
            </tr>
            <tr>
              <td>値</td>
              <td>：</td>
              <td><input type="number" name="value" ></td>
            </tr>
            <br>

            </table>
            <center>
              <input type="submit" name="send" value="追加">
            </center>
          </form>
        </div><!--split-left__inner-->
    </div><!--split-item split-left-->
    <div class="split-item split-right">
        <div class="split-right__inner">
            <div id = "url-list-box">
              <p>URL</p>
              <table class= "print_table">
                <th>サイト</th>
                <th>ジャンル</th>
              {{range .list}}
                <tr>
                <td ~~~>
                  <a href={{.Url}} target="_blank" class="list-link">{{.Title}}</a>
                </td>
                <td>
                  {{.Type}}
                </td>
                </tr>
                {{end}}
              </table>

             </div>
        </div><!--split-right__inner-->
    </div><!--split-item split-right-->
  </div>

</body>
